{% extends 'base.html' %} 

{% load static %}

{% block title %} | Login {% endblock %} {% block content %}
<div class="container pb-5 w-50">
    <div class="row">
        <div class="col mt-1">
            <img src="{% static 'img/cct-logo.png' %}" class="img-fluid" alt="Responsive image" title="main logo">
            <h2>Login...</h2>
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %} {{ error }}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-lg">Sign In</button>
                </div>
                <small>Not registered? You can register for an account <a href="{% url 'register' %}">here</a>.</small>
            </form>
        </div>
    </div>
</div>
{% endblock %}
