<!-- The Modal -->
<div class="modal fade" id="aboutModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">CCT's Mission Statement</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <h1 class="lead">About</h1>
    
        <p>CCT has 156 authorized positions including 74 state certified Police Officers, 54 Security Officers, 13 Communications Officers, 9 administrative support personnel, and 6 Records Technicians. The department maintains a fully staffed investigations division, a crime prevention unit, a recruiting unit, a training division, a victim advocate, and an Emergency Communications Center that has evolved into this high tech crime tracking application.</p>
        
        <h2 class="lead">Mission, Vision, and Values</h2>
        
        <p>The mission of the CCT is providing a safe and secure environment through education, the cooperative spirit of all community members and the enforcement of laws and regulations.</p>
        
        <p>The vision of the Department of Security and CCT is to be a world-class model for public safety amongst state communities. In everything we do, we will demonstrate our professionalism and our commitment to excellence through our integrity, respect, ethics, and dedication. We are committed to the safety, security and fair and impartial treatment of all. “Service” shall be our motto:</p>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Service</li>
          <li class="list-group-item">Ethics</li>
          <li class="list-group-item">Respect</li>
          <li class="list-group-item">Values</li>
          <li class="list-group-item">Integrity</li>
          <li class="list-group-item">Courtesy</li>
          <li class="list-group-item">Excellence</li>
        </ul>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
