.btn-info {
  background: #008080 !important;
}

.btn-info:hover {
  background: #006060 !important;
}

.btn-warning {
  background: #ea9b25 !important;
  color: white;
}

.confirmation {
  display: none;
}

.save-crime,
.save-suspect {
  display: none;
}

.text-info {
  color: #008080 !important;
}

.img {
  width: 100%;
}

.crime-img {
  width: 80%;
  border-radius: 5px;
}

.suspect-img {
  width: 60%;
  border-radius: 5px;
}

.suspect-img__index {
  width: 50%;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

.logo {
  width: 85px;
}

.navbar {
  opacity: 0.9;
}

form {
  display: inline;
}

.cover-home {
  background: url('../img/lineup.27599da38dfd.jpeg') no-repeat top center fixed;
  min-height: 700px;
  padding-top: 6rem;
}

.services {
  background: url('../img/city.ca93c72fedce.jpg') no-repeat top center fixed;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
.services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(30, 139, 195, 0.7);
}

.follow-crime,
.report-crime,
.track-suspects {
  text-decoration: none;
  color: white;
}
